.NavBar {
    background-color: rgba(192, 10, 10, 0.658);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    color: black;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
}

a:hover {
    color: rgb(161, 161, 161);
    cursor: pointer;
}

.Enlaces a {
    margin: 50px;
}
