.NavBar {
    background-color: rgba(192, 10, 10, 0.658);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    color: black;
    font-size: 23px;
    list-style: none;
    text-decoration: none;
}

a:hover {
    color: rgb(161, 161, 161);
    cursor: pointer;
}

.Enlaces a {
    margin: 50px;
}

.ActiveOption {
    display: inline;
    border-radius: 5px;
    background-color: rgba(211, 194, 194, 0.658);;
}